<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/goty" routerLinkActive="active">Game Of The Year</a>
          </li>
        </ul>
      </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand"><img src="../../../assets/img.jpg"  style="width: 100px; margin-left: 10px; border-radius: 10px;"></a>
    <button class="navbar-toggler" style="margin-right: 10px;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 10px" aria-current="page" routerLinkActive="active" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="margin-left: 10px" routerLink="/goty" routerLinkActive="active">Game Of The Year</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>